<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adobereader" />
  <package id="audacity" />
  <package id="discord.install" />
  <package id="DotNet4.5.2" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="greenshot" />
  <package id="javaruntime" />
  <package id="jre8" />
  <package id="putty.install" />
  <package id="python3" />
  <package id="qbittorrent" />
  <package id="speccy" />
  <package id="sublimetext3" />
  <package id="sysinternals" />
  <package id="vlc" />
  <package id="winrar" />
  <package id="vmwareworkstation" />
</packages>
