<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="audacity" />
  <package id="adobereader" />
  <package id="dotnet4.5.2" />
  <package id="filezilla" />
  <package id="firefox" />
  <package id="javaruntime" />
  <package id="jre8" />
  <package id="putty.install" />
  <package id="sysinternals" />
  <package id="teamviewer" />
  <package id="vlc" />
  <package id="streamdeck" />
  <package id="battle.net" />
  <package id="greenshot" />
  <package id="logitech-options" />
  <package id="obs-studio" />
  <package id="speccy" />
  <package id="spotify" />
  <package id="spicetify-cli" />
  <package id="toastify" />
  <package id="steam-client" />
  <package id="sublimetext3" />
  <package id="vmwareworkstation" />
  <package id="vnc-viewer" />
  <package id="windirstat" />
  <package id="yubikey-manager" />
  <package id="yubikey-personalization-tool" />
  <package id="python" />
  <package id="openssh" />
  <package id="youtube-dl" />
  <package id="ffmpeg" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolateygui" />
</packages>
